# Microdados brutos
data/raw/

# Dados processados
data/processed/

# Outputs
outputs/

# R temporários
.Rhistory
.RData
.Rproj.user/
*.Rproj

# renv biblioteca
renv/library/
renv/staging/
renv/sandbox/

# Sistema
.DS_Store
Thumbs.db
